<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>File1</key>
	<dict>
		<key>isDir</key>
		<false/>
		<key>path</key>
		<string>/File1</string>
	</dict>
	<key>File2</key>
	<dict>
		<key>isDir</key>
		<false/>
		<key>path</key>
		<string>/File2</string>
	</dict>
	<key>DirectoryB/</key>
	<dict>
		<key>isDir</key>
		<true/>
		<key>path</key>
		<string>/DirectoryB/</string>
		<key>OneFile</key>
		<dict>
			<key>isDir</key>
			<false/>
			<key>path</key>
			<string>/DirectoryB/One File</string>
		</dict>
		<key>Another File</key>
		<dict>
			<key>isDir</key>
			<false/>
			<key>path</key>
			<string>/DirectoryB/AnotherFile</string>
		</dict>
	</dict>
	<key>DirectoryA/</key>
	<dict>
		<key>isDir</key>
		<true/>
		<key>path</key>
		<string>/DirectoryA/</string>
		<key>FileA</key>
		<dict>
			<key>isDir</key>
			<false/>
			<key>path</key>
			<string>/DirectoryA/FileA</string>
		</dict>
		<key>FileB</key>
		<dict>
			<key>isDir</key>
			<false/>
			<key>path</key>
			<string>/DirectoryA/FileB</string>
		</dict>
	</dict>
</dict>
</plist>
